@import url('https://fonts.googleapis.com/css2?family=Inconsolata&display=swap');

/* Global */
body {
    background-color: rgb(58, 58, 58);
}

*{
    font-family: 'Inconsolata', monospace;
}

img {
    max-width: 60%;
}


/* MainContainer */
.mainContainer {
    display: flex;
}
.right {
    width: 100%;
    height: 100vh;
}


/* Side Bar */
.sideBar {
    background-color: pink;
    height: 100vh;
    max-width: 300px;
    display: grid;
    grid-template-columns: 1;
    grid-template-rows: repeat(3, 1fr);
}
.sideBar .sideBarHeader {
    align-self: center;
    justify-self: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.sideBar .sideBarMenuList {
    align-self: center;
    justify-self: center;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 100%;
    width: 60%;
    align-items: center;
}
.sideBar .sideBarMenuList a {
    text-decoration: none;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-around;
    min-width: 80%;
    cursor: pointer;
}
.sideBar .sideBarMenuList a:hover {
    color: white;
}
.sideBar .sideBarFooter {
    align-self: center;
    justify-self: center;
    width: 100%;
}
.sideBar .sideBarFooter .sideBarSocials {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    margin: 2vmin;
}
.sideBar .sideBarFooter .sideBarSocials a {
    text-decoration: none;
    color: black;
    font-size: 4vmin;
    align-self: end;
    justify-self: center;
}
.sideBar .sideBarFooter p {
    text-align: center;
    width: 80%;
    margin: auto auto;
}


/* Right Side */
.right .btn-connect {
    background-color: rgb(255, 192, 203);
    border-radius: 25px;
    position: fixed;
    z-index: 2;
    right: 5vmin;
    top: 3vmin;
}

.right .dashboard {
    height: 100%;
    width: 100%;
    display: flex;
}
.right .dashboard .dashboardBg {
    background: url('./piggy.png') rgba(255, 192, 203, 0.2) 100% 100% no-repeat;;
    background-repeat: no-repeat;
    background-position: bottom bottom;
    background-size: 25%;
    height: 60vh;
    min-width: 60%;
    border-radius: 25px;
    border: 2px solid pink;
    margin: auto auto;
    display: flex;
    flex-direction: column;
}
.right .dashboard .dashboardBg .dashboardHeader {
    color: white;
    padding: 2vmin 0;
}
.right .dashboard .dashboardBg .dashboardInfo {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    color: white;
}
.right .dashboard .dashboardBg .dashboardInfo span {
    color: rgba(255, 255, 255, .6);
}
.right .dashboard .dashboardBg .dashboardInfo .info {
    align-self: center;
}
.right .dashboard .dashboardBg .dashboardButtons {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin-bottom: 3vmin;
    width: 60%;
    margin: 0 auto 3vmin auto;
}
.right .dashboard .dashboardBg .dashboardButtons .btn-store-ether {
    width: auto;
    border-radius: 10px;
    padding: 1vmin 2vmin;
    background-color: pink;
    color: white;
}
.right .dashboard .dashboardBg .dashboardButtons .btn-withdraw-ether {
    width: auto;
    border-radius: 10px;
    padding: 1vmin 2vmin;
    background-color: pink;
    color: white;
}

.right .storeInfo {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1vmin;
    color: white;
}
.right .dashboard .dashboardBg .storeInfo span {
    color: rgba(255, 255, 255, .6);
}
.right .dashboard .dashboardBg .storeInfo .info {
    align-self: center;
}
.right .storeInfo .input-group {
    padding-right: 4vmin;
    display: flex;
    text-align: center;
    align-self: center;
}
.right .storeInfo .input-group label {
    color: rgba(255, 255, 255, .6);
    margin-bottom: 3vmin;
}

.right .storeInfo .input-group input {
    border-color: transparent;
    border-radius: 25px;
}

.contact-form {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.contact-form .form-field {
    position: relative;
    margin: 32px 0;
}
.contact-form .input-text {
    display: block;
    width: 100%;
    height: 36px;
    font-family: Lusitana, serif;
    font-size: 18px;
    line-height: 26px;
    font-weight: 400;
    border: none;
    border-radius: 25px;
    background-color: transparent;
    border: 2px solid pink;
    color: white;
}
.contact-form .input-text:focus {
    outline: none;
}
       

.contact-form .label {
    position: relative;
    font-family: Lusitana, serif;
    font-size: 18px;
    line-height: 26px;
    font-weight: 400;
    color: #888;
    cursor: text;
    transition: transform .2s ease-in-out;
}
    
.contact-form .submit-btn {
    display: inline-block;
    background-color: #000;
    color: #fff;
    font-family: Raleway, sans-serif;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 16px;
    line-height: 24px;
    padding: 8px 16px;
    border: none;
    cursor: pointer;
    width: auto;
    border-radius: 25px;
}

.erc { 
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.erc input {
    max-width: 80%;
    border-radius: 25px !important;
}